<!-- .slide: data-background-image="images/submarine.svg" data-background-size="600px" class="chapter" -->
<link rel="stylesheet" href="../css/modest.css" />
<div> Eclipse ou vscode ? </div>
<div id='eclipse' style='visibility: visible;'> <button onclick="choixCli()" style='float:right;position:fixed'>Passer sur la version vs code</button></div>
<div id='cli' style='visibility: hidden'> <button onclick="choixEclipse()" style='float:right;position:fixed'>Passer sur la version eclipse</button></div>

<script>
function choixEclipse(){
        choix = document.getElementById('eclipse');
        choix.style.visibility = 'visible';
        choix = document.getElementById('cli');
        choix.style.visibility = 'hidden';
}
function choixCli(){
    choix = document.getElementById('eclipse');
    choix.style.visibility = 'hidden';
    choix = document.getElementById('cli');
    choix.style.visibility = 'visible';  
}
</script>