<link rel="stylesheet" href="../css/custom-retro.css" />
<link rel="stylesheet" href="../diaporama/agate.css" />


<div id="doc" class="markdown-body container-fluid"><h1 id="Installation-de-Git-et-d’outils-utiles">Installation de Git et IDE(s)</h1><h2 id="-Téléchargez-un-IDE--VSCode-ou-Eclipse"><img class="emoji" alt=":black_nib:" src="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/images/basic/black_nib.png"> Téléchargez un IDE : VSCode ou Eclipse</h2><h3 id="Télécharger-VSCode">Télécharger VSCode</h3><p><a href="https://code.visualstudio.com/" target="_blank" rel="noopener">Sur leur site</a></p><details><summary>Détails installer</summary>
    <p>
    </p><p>Download for Windows <br><br>
    Enregistrez le fichier <br><br>
    Double cliquez sur le .exe <br></p>
    <p>Une boite de dialogue s’ouvre :<br><br>
    Acceptez les termes du contrat de licence <br><br>
    Suivant <br><br>
    Choisissez le lieu d’installation (par exemple C:\Users\HGHJN4\outils) <br><br>
    Suivant <br><br>
    Installer <br><br>
    Terminer <br></p>
    <p>par défaut mettre un raccourci VSCode sur le bureau</p>
    <p></p>
    </details><h3 id="Utiliser-Eclipse">Utiliser Eclipse</h3><p><a href="https://git.stable.innovation.insee.eu/animation-dev/outils-de-dev/-/wikis/Outils/Eclipse_Fiche" target="_blank" rel="noopener">Une doc d’installation par la DAAP</a> (Division Architecture applicative de production)</p><h2 id="-Installer-Git"><img class="emoji" alt=":school_satchel:" src="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/images/basic/school_satchel.png"> Installer Git</h2><p><a href="https://git.stable.innovation.insee.eu/animation-dev/outils-de-dev/-/wikis/Outils/Git_Fiche" target="_blank" rel="noopener">Une doc d’installation par la DAAP</a> (Division Architecture applicative de production)</p><p><a href="https://git-scm.com/" target="_blank" rel="noopener">Allez sur le site de Git</a></p><details><summary>Détails installer</summary>
    <p>
    </p><p>Download x.x.x for Windows <br><br>
    Enregistrez le fichier <br><br>
    Double cliquez sur le .exe <br></p>
    <p>Une boite de dialogue s’ouvre :<br><br>
    Next <br><br>
    Choisissez le lieu d’installation (par exemple C:\Users\HGHJN4\outils) <br><br>
    Next <br></p>
    <p>Si on vous propose le choix d’éditeur de texte, choisissez :</p>
    <ul>
    <li>VSCode : Use Visual Code Studio Code as Git’s defaut editor <br></li>
    <li>ou</li>
    <li>NotePad ++</li>
    </ul>
    <p></p>
    </details><p>Pour finir la configuration suivre ce bon <a href="https://git.stable.innovation.insee.eu/outils-transverses/migration-svn-git/-/blob/master/annexes/config-bash.md" target="_blank" rel="noopener">tuto</a> extrait <a href="https://git.stable.innovation.insee.eu/outils-transverses/migration-svn-git/-/tree/master" target="_blank" rel="noopener">d’ici</a><br></p><p>Ces commandes peuvent être passées avec VSCode, l’invite de commande de Windows, Git Bash…</p><pre><code>git config --global user.name "Prénom Nom"
    git config --global user.email "prenom.nom@insee.fr"
    git config --global http.proxy proxy-rie.http.insee.fr:8080
    </code></pre><p>Vérifiez que c’est bien pris en compte.</p><h3 id="Verifications">Verifications</h3><pre><code>git config user.name
    </code></pre><p>Doit retourner : votre prénom puis votre nom</p><pre><code>git config user.email
    </code></pre><p>Doit retourner : votre email Insee</p><pre><code>git config http.proxy
    </code></pre><p>Doit retourner : <a href="http://proxy-rie.http.insee.fr:8080" target="_blank" rel="noopener">http://proxy-rie.http.insee.fr:8080</a></p><p>Si vous voulez connaitre la configuration complète de git :</p><pre><code>git config –-list
    </code></pre><p>(tapez sur “Entrez” pour dérouler les “pages” et tapez “q” pour quitter)</p><h3 id="-Bonus-authentification"><img class="emoji" alt=":closed_lock_with_key:" src="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/images/basic/closed_lock_with_key.png"> Bonus: authentification</h3><pre><code>ssh-keygen -t ed25519 -C "gitlab.insee.fr"
    </code></pre><details><summary>détails</summary>
    <p>
    </p><p>Le -C est une option facultative pour ajouter un commentaire à la clé. Cela peut permettre de différencier les paires de clés si on en a plusieurs. Ici le commentaire choisit est le mail. <br><br>
    Le -t permet d’indiquer quel type de clé on veut. Il existe <a href="https://docs.gitlab.com/ee/ssh/README.html#review-existing-ssh-keys" target="_blank" rel="noopener">différents algorithmes</a> pour générer des clés. L’algorithme conseillé est le ed25519.</p>
    <p></p>
    </details><br><p>Il est préférable de déposer vos clés dans <strong>C:\Users\idep.ssh</strong><br>
    plutôt que <strong>Z:\.ssh</strong></p><blockquote>
    <p><img class="emoji" alt=":warning:" src="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/images/basic/warning.png"> Nommez bien votre clé id_ed25519. Si la clé se nomme autrement que id_NomDeLAlgo votre client SSH ne la trouvera pas.</p>
    </blockquote><h3 id="-Bonus--travail-avec-githubgitlabcom-en-https-"><img class="emoji" alt=":unlock:" src="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/images/basic/unlock.png"> Bonus : travail avec github/gitlab.com en https :</h3><p>Vous pouvez effectivement travailler en https mais il faut enlever une couche de sécurité, qui fait qu’on ne vérifie pas le certificat https…</p><pre><code>git config http.sslVerify "false"
    </code></pre></div>