<link rel="stylesheet" href="../css/custom-retro.css" />
<link rel="stylesheet" href="../diaporama/agate.css" />
<div id="doc" class="markdown-body container-fluid"><h1 id="S’entraîner-au-gitflow">S’entraîner au gitflow</h1><h2 id="Premières-mises-en-situation">Premières mises en situation</h2><p><a href="https://integration-gitflow.demo.dev.sspcloud.fr" target="_blank"><img class="emoji" alt=":bomb:" src="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/images/basic/bomb.png" width=30> Utilisation de l’application présentée pour le gitflow</a>.</p><p>Réalisez la manoeuvre suivante:</p><ul>
    <li>A partir d’une branche de dév ajoutez proprement une fonctionnalité, puis mettez l’application en recette par le biais d’une release.</li>
    <li>Ensuite corrigez un bug en production et veillez a ce que ces changements soient appliqués (plusieurs solutions sont possibles)</li>
    <li>Enfin, votre cps a recetté votre application de recette, et tout va bien, créez donc une nouvelle version de l’application</li>
    </ul>
    <details><summary>Exemple de solutions</summary>
        <p>  Solution 1* : <br/>Cas d'extrême urgence, technique <br/> 
        <img src="../images/solution-1-ex-chap6.png" width="500">
        </p>
        ou<p>Solution 2* : <br/> Cas avec mise en recette </p>
        <img src="../images/solution-2-ex-chap6.png" width="500">
        <p>*(la suppression des branches est d'ailleurs préconisée mais pour la lisibilité elles ne sont pas supprimées)</p>
        </details>
    <h2 id="Sur-votre-dépôt">Sur votre dépôt</h2>
    <p>Définition des branches de travail sur le dépot :</p>
    <ul>
    <li>créez une branche de travail de dév , paramétrez votre dépot distant pour qu’elle soit protégée et qu’elle soit branche par défaut.</li>
    <li>Réalisez l’ajout d’une fonctionnalité (ajout d’un lien vers une capture d'écran du premier exercice par exemple) en suivant le gitflow.</li>
    </ul>
    <details><summary>Solution</summary>
        <p>
        </p><pre><code  class="git hljs"><span class="hljs-title">git</span> checkout master
<span class="hljs-title">git</span> checkout -b "develop"</code></pre>
    <p>puis configurer la branche develop : settings/repository >> <img src="https://docs.gitlab.com/ee/user/project/img/protected_branches_devs_can_push_v12_3.png"/> </p>
<pre><code  class="git hljs"><span class="hljs-title">touch</span> img.png
<span class="hljs-title">git</span> add . && <span class="hljs-title">git</span> commit -m "add img.png" && git push 
</code></pre>
        </details>
    <h2 id="Contribution">Contribution</h2>
    <p>
        <h3><img class="emoji" alt=":warning:" src="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/images/basic/warning.png" width="30"> Cette partie est nécessaire pour la suite.</p></h3>
        <p>Réaliser un fork de cette application : <a href="https://api-calcul-demo.dev.insee.io/" target="_blank">Lien vers l'application</a></p>
        <p>Son code est hébergé ici : <a href="https://gitlab.insee.fr/formation-git-2020/exemple-formation-git" target="_blank"> <img class="emoji" alt="logo-gitlab" src="../images/logo-gitlab.svg" width="25"></a>
    </p><p>Clonez la pour obtenir un dépôt local du fork de cette application dans votre espace personnel</p><details><summary>Solution</summary>
        <p>
        <img src="https://infomath.pages.math.cnrs.fr/tutorial/git/img/git-fork.gif">
        </p>
        </details><p>
    Voilà, vous êtes prêts pour la suite.</p></div>