
<link rel="stylesheet" href="../css/custom-retro.css" />
<link rel="stylesheet" href="../diaporama/agate.css" />
<div id="doc" class="markdown-body container-fluid"><h1 id="Git-en-local-vscode">Git en local <img src="../images/logo-git.png" width="45">&nbsp;<img src="../images/1200px-Visual_Studio_Code_1.35_icon.svg.png" width="45"></h1><p>Cet exercice couvre les notions principales pour travailler en local avec git.<br>
    Le principe est la construction d’un petit projet pour ensuite le déployer sur un dépot distant.</p><h2 id="Initialisation-d’un-projet">Initialisation d’un projet</h2><p>Pour cela vous allez créer un dossier dans un emplacement de votre choix (exemple dans ~/), vous êtes libre sur le choix du nom et d’y ajouter des fichiers.</p><p>Ensuite initiez un projet git prenant tous les éventuels fichiers de ce dossier.</p><details><summary>Solution</summary>
    <p>
    </p><pre><code class="git hljs">git init</code></pre>
    <p>Ou si vous y avez mis des fichiers</p>
    <pre><code class="git hljs">git init .</code></pre>
    </details><br><blockquote>
    <p>Un dossier .git est créé, il contient toute l’information sur la vie du dépot et il permet l’utilisation de git pour votre projet.</p>
    </blockquote><h2 id="Ajout-d’un-fichier">Ajout d’un fichier</h2><p>Toujours dans ce dossier créez un fichier <span style="color: orange;">index.html</span> contenant les informations suivantes :</p><p>Formation git orléans 29/10/2020 dans une balise div.</p><p>Puis ajoutez le fichier index.html à l’index et créez un commit, permettant le versionning de l’application. (exemple pour le message de commit : “ajout du fichier index.html”)</p><details><summary>Solution</summary>
    <p>
    </p>
    <pre>
<code class="git hljs"><span class="hljs-title">echo</span> "&lt;div&gt;Formation git orléans&lt;/div&gt;" &gt; index.html
<span class="hljs-title">git</span> add index.html
<span class="hljs-title">git</span> commit -m "ajout du fichier index.html"
</code></pre>
    <p></p>
    </details><br><p>Vérifiez ensuite que vous l’avez bien commité</p><details><summary>Solution</summary>
    <p>
    </p><pre><code  class="git hljs"><span class="hljs-title">git</span> log
</code></pre>
    <p>ou</p>
    <pre><code  class="git hljs"><span class="hljs-title">git</span> log --oneline
</code></pre>
    <p></p>
    </details><br><h2 id="Création-d’une-branche">Création d’une branche</h2><p>A partir de ce commit, créez une branche que vous appelerez demo-site. Déplacez vous sur cette branche</p><details><summary>Solution</summary>
    <p>
    </p><pre><code class="git hljs" ><span class="hljs-title">git</span> branch demo-site
<span class="hljs-title">git</span> checkout demo-site</code></pre>
    <p>Mais honnêtement, préferez :</p>
    <pre><code class="git hljs"><span class="hljs-title">git</span> checkout -b demo-site</code></pre>
    <p></p>
    </details><br><p>Ensuite importez les <a href="../css/custom-retro.css" target="_blank" rel="noopener">

 feuilles de styles suivantes    </a>et ajoutez les et vérifiez qu'elles sont bien dans l'index, enfin réalisez un nouveau commit.
</p><details><summary>Solution</summary>
<p>
</p><pre><code class="git hljs"><span class="hljs-string"># récupérer en amont par curl le fichier .css </span>
<span class="hljs-title">git</span> <span class="hljs-keyword">add</span><span class="bash"> .
</span><span class="hljs-title">git</span> status
<span class="hljs-title">git</span> commit -m <span class="hljs-string">"nom-commit"</span>
</code></pre>
<p></p>
</details><br><h2 id="Ajout-des-nouveautés-dans-la-branche-mainmaster">Ajout des nouveautés dans la branche main/master</h2><p>A l’aide de la commande merge, réalisez la mise a jour de la branche “principale”, verifiez enfin que cela est effectif.</p><details><summary>Solution</summary>
<p>
</p><pre><code class="git hljs"><span class="hljs-title">git</span> checkout <span class="hljs-keyword">master</span>
<span class="hljs-title">git</span> merge demo-site
<span class="hljs-title">git</span> log --oneline</code></pre>
<p></p>
</details><br>

<h2 id="Quelques-concepts-de-versionning">Quelques-concepts-de-versionning</h2><p>Parfois, il peut être pertinent de ne pas versionner certaines parties du code, pour cela, vous pouvez définir un fichier .gitignore a la racine du projet, supposons par exemple que vous ne désiriez pas versionner les fichiers avec extension en <span style="color: orange;">.pdf</span> ou <span style="color: orange;">.zip</span> dans votre projet de site statique, créez le fichier associé.</p>
<details><summary>Solution</summary>
    <p>
    </p><pre><code class="git hljs"><span class="hljs-title">echo</span> <span class="hljs-string">"*.pdf"</span> > .gitignore
<span class="hljs-title">echo</span> <span class="hljs-string">"*.zip"</span> >> .gitignore</code></pre>
    <p></p>
    </details><br>

<h2 id="Exercices bonus"><img src="../images/dungeon-gate.svg" width="30">Bonus </h2></a><p>Des exercices bonus sont également disponibles <a href="bonus-exercice-git-local.html" target="_blank">ici</a>.</p>

   </div>