
<link rel="stylesheet" href="../css/custom-retro.css" />
<link rel="stylesheet" href="../diaporama/agate.css" />
<div id="doc" class="markdown-body container-fluid"><h1 id="Conflits-Git">Conflits Git <img src="../images/logo-git.png" width="45">&nbsp;<img src="../images/1200px-Visual_Studio_Code_1.35_icon.svg.png" width="45">&nbsp;<a href="/"></a> </h1><p>Ces exercices couvrent les notions principales pour travailler en équipe ou dans le passé. Ils regroupent des cas pratiques de conflits.</p><h2 id="Conflit-avec-le-vous-du-passé">Conflit avec le vous du passé</h2><p>Vous avez décidé de travailler sur une fonctionnalité qui est la suivante :</p><blockquote>
    <p>Ajoutez un tableau sur votre application web sous cette forme :</p>
    </blockquote><table>
    <thead>
    <tr>
    <th>Nom utilisateur</th>
    <th>Prenom Utilisateur</th>
    <th>Idep</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>nom utilisateur</td>
    <td>prenom utilisateur</td>
    <td>idep</td>
    </tr>
    </tbody>
    </table><details><summary>Aide</summary>
    <div style="background-color: #fed8b1"><p>
    N'étant pas ici pour faire de l'html, pour créer un tableau il faut utiliser les balises table, tr, th,td
    </p><p>exemple :</p>
    <pre><code class="html hljs"><span class="hljs-tag">&lt;<span class="hljs-name">table</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">tr</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">th</span>&gt;</span>Company<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">th</span>&gt;</span>Contact<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">tr</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">td</span>&gt;</span>Alfreds Futterkiste<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">td</span>&gt;</span>Maria Anders<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">table</span>&gt;</span>
    </code></pre>
    <p>donne :</p>
    <table>
      <tbody><tr>
        <th>Company</th>
        <th>Contact</th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
      </tr>
    </tbody></table>
    <p></p>
        </div>
    </details><p>Quelques mois plus tard, votre équipe statistique vient vous contacter, et vous ne vous rappelez plus que vous aviez fait cette fonctionnalité, en lisant la spécification vous remarquez qu’elle était la suivante :</p><table>
    <thead>
    <tr>
    <th>Nom utilisateur</th>
    <th>Prénom Utilisateur</th>
    <th>Idep</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>nom utilisateur</td>
    <td>prénom utilisateur</td>
    <td>idep</td>
    </tr>
    </tbody>
    </table><p>Effectuez le et commitez sur master.</p><p>Enfin, un beau jour vous décidez de nettoyer les branches locales de votre dépôt, ne vous rappelant plus vraiment ce qu’il y avait vous décidez de fusionner la branche contenant le tableau avec la branche principale. <img class="emoji" alt=":beer:" src="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/images/basic/beer.png" width="30"></p><p>Git va vous dire qu’il ne s’en sort pas tout seul… Commencez par annuler le merge. Puis refaites le en choisissant de conserver les changements qui ont été fait sur la 2nde version (soit à la main, soit directement).</p><details><summary>Solution</summary>
    <p>
    </p><pre><code class="git hljs">git checkout master
    git checkout -<span class="hljs-keyword">b</span> tableau-sans-accent
    <span class="hljs-keyword">echo</span> <span class="hljs-comment">"&lt;table&gt;</span>
      <span class="hljs-symbol">&lt;tr&gt;</span>
        <span class="hljs-symbol">&lt;th&gt;</span>Nom utilisateur&lt;/<span class="hljs-keyword">th</span>&gt;
        <span class="hljs-symbol">&lt;th&gt;</span>Prenom Utilisateur&lt;/<span class="hljs-keyword">th</span>&gt;
        <span class="hljs-symbol">&lt;th&gt;</span>Idep&lt;/<span class="hljs-keyword">th</span>&gt;
      &lt;/<span class="hljs-keyword">tr</span>&gt;
      <span class="hljs-symbol">&lt;tr&gt;</span>
        <span class="hljs-symbol">&lt;td&gt;</span>nom utilisateur&lt;/td&gt;
        <span class="hljs-symbol">&lt;td&gt;</span>prenom utilisateur&lt;/td&gt;
        <span class="hljs-symbol">&lt;td&gt;</span>idep&lt;/td&gt;  
      &lt;/<span class="hljs-keyword">tr</span>&gt;
    &lt;/table&gt;<span class="hljs-comment">" &gt;&gt; index.html</span>
    git <span class="hljs-built_in">add</span> <span class="hljs-built_in">index</span>.html &amp;&amp; git commit -<span class="hljs-keyword">m</span> <span class="hljs-string">"add tableau sans accent"</span>
    git checkout master
    <span class="hljs-keyword">echo</span> <span class="hljs-comment">"&lt;table&gt;</span>
      <span class="hljs-symbol">&lt;tr&gt;</span>
        <span class="hljs-symbol">&lt;th&gt;</span>Nom utilisateur&lt;/<span class="hljs-keyword">th</span>&gt;
        <span class="hljs-symbol">&lt;th&gt;</span>Prénom Utilisateur&lt;/<span class="hljs-keyword">th</span>&gt;
        <span class="hljs-symbol">&lt;th&gt;</span>Idep&lt;/<span class="hljs-keyword">th</span>&gt;
      &lt;/<span class="hljs-keyword">tr</span>&gt;
      <span class="hljs-symbol">&lt;tr&gt;</span>
        <span class="hljs-symbol">&lt;td&gt;</span>nom utilisateur&lt;/td&gt;
        <span class="hljs-symbol">&lt;td&gt;</span>prénom utilisateur&lt;/td&gt;
        <span class="hljs-symbol">&lt;td&gt;</span>idep&lt;/td&gt;  
      &lt;/<span class="hljs-keyword">tr</span>&gt;
    &lt;/table&gt;<span class="hljs-comment">" &gt;&gt; index.html</span>
    git <span class="hljs-built_in">add</span> <span class="hljs-built_in">index</span>.html &amp;&amp; git commit -<span class="hljs-keyword">m</span> <span class="hljs-string">"add tableau avec accent"</span>
    git merge tableau-sans-accent
    # Ici ç<span class="hljs-keyword">a</span> va vous dire que ç<span class="hljs-keyword">a</span> fail
    git merge --abort
    git merge -Xours tableau-sans-accent
    </code></pre>
    <p></p>
    </details><br><h2 id="Travail-à-distance">Travail à distance</h2><p>Maintenant que votre tableau est fait, vous recevez un message de votre équipe statistique :</p><ul>
    <li>Mais tu n’as pas compris, il fallait que ce soit un tableau contenant les noms des membres de l’équipe, donne nous le lien.</li>
    </ul><blockquote>
    <p>Pour cette expérience, quelqu’un devra jouer le rôle (oui oui) d’un autre utilisateur qui remplit le tableau</p>
    </blockquote><p>Pour chacun des utilisateurs, inscrivez votre nom sur la page html contenant le tableau. (en réalisant un fork du projet pour le contributeur)</p><p>Après la double saisie, il y aura un conflit. Le résoudre “à la main” en choisissant l’option “à la main” de résolution de conflits, il doit figurer les informations des deux personnes après le merge.</p><details><summary>Solution</summary>
    <p>
    </p><pre><code class="bash hljs"><span class="hljs-comment"># en local c'est un peu étrange à reproduire</span>
    <span class="hljs-comment"># Utilisateur 1 change ses infos</span>
    git checkout master
    git checkout -b <span class="hljs-string">"branche-antoine"</span>
    <span class="hljs-comment"># A lire comme : Antoine change ses infos</span>
    grep -rl <span class="hljs-string">'nom utilisateur'</span> | xargs sed -i <span class="hljs-string">"s/nom utilisateur/Antoine/g"</span>
    grep -rl <span class="hljs-string">'prénom utilisateur'</span> | xargs sed -i <span class="hljs-string">"s/prénom utilisateur/Brunetti/g"</span>
    grep -rl <span class="hljs-string">'idep'</span> | xargs sed -i <span class="hljs-string">"s/idep/mdzp17/g"</span>
    git add . &amp;&amp; git commit -m <span class="hljs-string">"add name "</span>
    <span class="hljs-comment"># Utilisateur 2 change ses infos</span>
    git checkout master
    git checkout -b <span class="hljs-string">"branche-melinee"</span>
    <span class="hljs-comment"># A lire comme : Melinee change ses infos</span>
    grep -rl <span class="hljs-string">'nom utilisateur'</span> | xargs sed -i <span class="hljs-string">"s/nom utilisateur/Melinee/g"</span>
    grep -rl <span class="hljs-string">'prénom utilisateur'</span> | xargs sed -i <span class="hljs-string">"s/prénom utilisateur/Treppoz-Salomon/g"</span>
    grep -rl <span class="hljs-string">'idep'</span> | xargs sed -i <span class="hljs-string">"s/idep/?????/g"</span>
    git add . &amp;&amp; git commit -m <span class="hljs-string">"add name "</span>
    git checkout master
    git merge branche-melinee
    git merge branche-antoine
    grep -rl <span class="hljs-string">'&lt;*'</span> | xargs sed -i <span class="hljs-string">"s/&lt;&lt;&lt;&lt;&lt;&lt;&lt; HEAD/ /g"</span>
    grep -rl <span class="hljs-string">'&lt;*'</span> | xargs sed -i <span class="hljs-string">"s/=======/ /g"</span>
    grep -rl <span class="hljs-string">'&lt;*'</span> | xargs sed -i <span class="hljs-string">"s/&gt;&gt;&gt;&gt;&gt;&gt;&gt; branche-antoine/ /g"</span>
    </code></pre>
    <p></p>
    </details><br><p></p><br></div>