
<link rel="stylesheet" href="../css/custom-retro.css" />
<link rel="stylesheet" href="../diaporama/agate.css" />


<div id="doc" class="markdown-body container-fluid"><h1 id="TP--Travailler-avec-un-dépot-distant">TP : Travailler avec un dépot distant</h1><h2 id="Pusher-un-nouveau-dépot-0">Pusher un nouveau dépot <img class="emoji" alt=":arrow_upper_right:" src="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/images/basic/arrow_upper_right.png"></h2><p>Vous avez créé un dépot local, vous voulez le pusher sur un dépot distant.<br>
    Vérifiez que vous avez un bon .gitignore puis :</p><pre><code>git push
    </code></pre><p>Toutes les modifications de l’histoire (les <em>commit</em>) que vous avez inscrites en local sont maintenant aussi inscrites dans le dépot distant.</p><details open=""><summary>En cas de problème</summary>
    <p>
    </p><p>En fait il n’y a pas de dépot distant, donc ça ne va pas faire grand chose ^^.</p>
    <pre><code>fatal: No configured push destination.
    Either specify the URL from the command-line or configure a remote repository using
    
        git remote add &lt;name&gt; &lt;url&gt;
    
    and then push using the remote name
    
        git push &lt;name&gt;
    </code></pre>
    <p></p>
    </details><h2 id="Reliez-votre-dépot-remote-local-à-un-dépot-remote-distant-">Reliez votre dépot local à un dépot distant <img class="emoji" alt=":link:" src="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/images/basic/link.png"></h2><p>Créez donc un dépot distant pour votre dépot git local, puis ajoutez le via la commande :</p><pre><code>git remote add &lt;name&gt; &lt;url&gt;
    </code></pre><p>Dans notre cas</p><pre><code>git remote add origin https://&lt;url-rp-gitlab&gt;/&lt;votre idep&gt;/&lt;le-nom-du-projet&gt;.git
    </code></pre><blockquote>
    <p>On ajoute un dépot distant qui s’appelle origin. <br><br>
    Il peut y en avoir plusieurs donc il faut lui donner un nom. Vous pouvez appeler votre dépot distant <em>toto</em> mais par convention on préfère l’appeler <em>origin</em> le dépot distant qui est par défaut pour Git.</p>
    </blockquote><h3 id="Verifications-">Verifications <img class="emoji" alt=":+1:" src="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/images/basic/+1.png"></h3><p>On vérifie via l’option --verbose</p><pre><code>git remote --verbose
    </code></pre><p>ou</p><pre><code>git remote -v
    </code></pre><details><summary>Ce que ça doit donner</summary>
    <p>
    </p><pre><code>origin  https://&lt;url-rp-gitlab&gt;/&lt;votre idep&gt;/&lt;le-nom-du-projet&gt;.git (fetch)
    origin  https:/&lt;url-rp-gitlab&gt;/&lt;votre idep&gt;/&lt;le-nom-du-projet&gt;.git (push)
    </code></pre>
    <p></p>
    </details><h2 id="Pusher-un-nouveau-dépot-">Pusher un nouveau dépot <img class="emoji" alt=":package:" src="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/images/basic/package.png"></h2><p>Tentez un git push</p><details><summary>Solution</summary>
    <p>
    </p><p>J’admets c’est mesquin</p>
    <pre><code>$ git push
    fatal: The current branch branche has no upstream master.
    To push the current branch and set the remote as upstream, use
    
        git push --set-upstream origin master
    </code></pre>
    <p>Git ne sait pas où pusher, ni quoi pusher.<br></p>
    <details><summary>Solutions possibles</summary>
    <p>
    </p><p>Deux solutions :</p>
    <ul>
    <li>soit vous lui indiquez à chaque fois où il faut pusher (sur votre dépot distant nommé <em>origin</em>) et ce qu’il faut pusher (en général votre branche main). Fatigant.</li>
    </ul>
    <pre><code>git push origin main
    </code></pre>
    <ul>
    <li>soit vous lui indiquez une bonne fois pour toute que votre branche main devra être pushée sur la branche main de votre dépot distant nommé <em>origin</em></li>
    </ul>
    <pre><code>git push --set-upstream origin main
    </code></pre>
    <p>Dorénavant vous vous contenterez d’un <em>git push</em> pour pusher sur le dépot distant <em>origin</em> votre branche main.</p>
    <p>Git ne sait pas où pusher, ni quoi pusher.<br></p>
    <p></p>
    </details>
    <p></p>
    </details><h2 id="Partir-d’un-dépot-existant-">Partir d’un dépot existant <img class="emoji" alt=":ok_hand:" src="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/images/basic/ok_hand.png"></h2><p>Récupérez le dépot de la formation via un clone</p><pre><code>git clone &lt;url&gt;
    git remote --verbose
    </code></pre><pre><code>origin  &lt;url&gt; (fetch)
origin  &lt;url&gt; (push)
    </code></pre><h3 id="Bonus--contribuer">Bonus : contribuer</h3><p>Pour contribuer l’opération classique est l’utilisation d’un fork.</p><p>Créez un fork du projet formation et ajoutez le en temps que remote, cela vous permettra de push pull depuis votre projet et de push/pull depuis le projet auquel vous voulez contribuez</p><h2 id="Que-versionner--">Que versionner ? <img class="emoji" alt=":file_folder:" src="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/images/basic/file_folder.png"></h2><p>Seul le code doit être versionné ! <br><br>
    Éviter les faux fichiers texte (.odt). <br><br>
    Les data n’ont pas à être versionnées (on pourra en reparler) <br><br>
    Pour ne versionner que ce que vous voulez : indiquez dans un fichier ce que vous ne voulez pas versionner. <br><br>
    Ce ficher se nomme .gitignore, le plus simple est de le mettre à la racine.<br>
    <a href="https://gist.github.com/dedunumax/54e82214715e35439227" target="_blank" rel="noopener">Un exemple du .gitignore</a> extrait d’une bonne doc déjà citée.</p><h3 id="Solutions-">Solutions :</h3><ul>
    <li>Dépot de fichiers pour les fichiers a ne pas versionner</li>
    <li>Références sur git pour le versionning via référence : git lfs</li>
    </ul></div>